body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000000;
    color: white;
    padding: 20px 0;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #111111;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center; /* 居中內容 */
}

.links {
    display: flex;
    flex-wrap: wrap; /* 允許內容換行 */
    justify-content: center; /* 居中對齊鏈接 */
    gap: 30px; /* 增加按鈕之間的間距 */
    margin-top: 30px;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s, transform 0.3s; /* 添加變換過渡效果 */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    border-radius: 12px;
    padding: 15px; /* 縮小內邊距以適應小屏幕 */
    width: 100px; /* 統一的寬度 */
    height: 100px; /* 統一的高度 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.links a:hover {
    color: #cccccc;
    background-color: #444444;
    transform: translateY(-10px); /* 懸停時向上移動 */
}

.social-icon {
    font-size: 50px; /* 圖標大小 */
    margin-bottom: 5px; /* 圖標和文字之間的間距 */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* 立體感效果 */
}

/* 媒體查詢：適應小屏幕 */
@media (max-width: 600px) {
    .header h1 {
        font-size: 1.5em;
    }

    .container {
        padding: 10px;
    }

    .links a {
        font-size: 1em;
        width: 80px;
        height: 80px;
        padding: 10px;
    }

    .social-icon {
        font-size: 40px;
    }
}

/* 媒體查詢：適應中等屏幕 */
@media (max-width: 992px) {
    .header h1 {
        font-size: 2em;
    }

    .links a {
        font-size: 1.1em;
        width: 90px;
        height: 90px;
        padding: 15px;
    }
}
